<!-- Début du Carrousel -->
<div class="container-fluid carousel-header px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="assets/template/img/couple.JPG" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3 mx-auto animated zoomIn" style="max-width: 900px;">
                        <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-4" style="border-style: double;">
                            <p class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">NOUS NOUS MARIONS</p>
                        </div>
                        <h1 class="display-1 text-capitalize text-white mb-3">Mouhamed  <br>&<i class="fa fa-heart text-primary"></i><br>Aminata </h1>
                        <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-5" style="border-style: double;">
                            <p class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">24 Décembre 2025</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin du Carrousel -->


<!-- Début de Bonjour ! -->
<div class="container-fluid position-relative py-5" id="weddingAbout">
    <div class="position-absolute" style="top: -35px; right: 0;">
        <!-- <img src="assets/template/img/tamp-bg-1.png" class="img-fluid" alt=""> -->
    </div>
    <div class="position-absolute" style="top: -10px; left: 0; transform: rotate(150deg);">
        <img src="assets/template/img/tamp-bg-1.png" class="img-fluid" alt="">
    </div>
    <div class="container position-relative py-5">
        <div class="mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800;">
            <h1 style="color: #ca9b6c !important;" class="text-primary display-1">Bonjour !</h1>
            <h4 class="text-dark mb-0">Nous vous invitons à célébrer notre mariage</h4>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div class="text-end my-auto pe-4">
                                <h3 style="color: #ca9b6c !important;" class="text-primary mb-3">Aminata</h3>
                                <p class="text-dark mb-0" style="line-height: 30px;">Nous, c'est notre histoire. Elle est douce, elle est forte, et c'est la nôtre pour toujours.
                                </p>
                            </div>
                            <img src="assets/template/img/amina.JPG" class="img-fluid img-border" style="max-width: 40%;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center justify-content-center">
                            <i class="fa fa-heart fa-5x text-primary"></i>
                       </div>
                    </div>
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <img src="assets/template/img/mouhamed.JPG" class="img-fluid img-border" style="max-width: 40%;" alt="">
                            <div class="my-auto ps-4">
                                <h3 style="color: #ca9b6c !important;" class="text-primary mb-3">Mouhamed</h3>
                                <p class="text-dark mb-0" style="line-height: 30px;">De notre rencontre est née une histoire, de notre histoire est née une promesse.
Nous vous invitons à venir célébrer  notre union.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin de Bonjour ! -->


<!-- Date du Mariage -->
<div class="container-fluid wedding-date-bg position-relative py-5">
    <div class="position-absolute" style="top: -100px; right: 0;">
        <img src="assets/template/img/tamp-bg-1.png" class="img-fluid" alt="">
    </div>
    <div class="position-absolute" style="top: -80px; left: 0; transform: rotate(150deg);">
        <!-- <img src="assets/template/img/tamp-bg-1.png" class="img-fluid" alt=""> -->
    </div>
    <div class="container py-5 wow zoomIn" data-wow-delay="0.1s">
        <div class="wedding-date text-center bg-light p-5" style="border-style: double !important; border: 15px solid rgba(253, 93, 93, 0.5);">
            <div class="wedding-date-content">
                <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-4" style="border-style: double;">
                    <h4 class="text-dark text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">24 Décembre 2025</h4>
                </div>
                <h1 class="display-4">Nous Nous Marions</h1>
                <p class="text-dark fs-5">Dakar Bourguiba, Sénégal</p>
                <div class="d-flex align-items-center justify-content-center mb-5">
                    <div class="text-dark fs-2 me-4">
                        <div>20</div>
                        <span>Heures</span>
                    </div>
                    <div class="text-dark fs-2 me-4">
                        <div>00</div>
                        <span>Minutes</span>
                    </div>
                    <div class="text-dark fs-2 me-0">
                        <div>00</div>
                        <span>Secondes</span>
                    </div>
                </div>
            </div>
            <div class="position-absolute" style="top: 15%; right: -30px; transform: rotate(320deg); opacity: 0.5; z-index: 1;">
                <img src="assets/template/img/attendance-bg.png" class="img-fluid" alt="">
            </div>
            <div class="position-absolute" style="top: 15%; left: -10px; transform: rotate(-320deg); opacity: 0.5; z-index: 1;">
                <img src="assets/template/img/attendance-bg.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Date du Mariage -->

<div *ngIf="inviteData; else loading">
  <p  style="margin-left: 0px; color: #ca9b6c !important; text-align: center; font-size: 30px;" > VOTRE INVITATION NUMÉRIQUE {{ inviteData.pseudo }}</p>
  <canvas id="inviteCanvas"></canvas>
</div>

<ng-template #loading>
  <p>Chargement de l'invitation...</p>
</ng-template>
<div style="
        background-color: rgb(211, 180, 144);
        padding: 25px;
        border-radius: 16px;
        margin-bottom: 30px;
        line-height: 1.6;
        border: 1px solid #F0E6DC;
    ">
        <p style="margin-bottom: 18px; font-size: 16px;">
            Dans le cadre de notre organisation, votre invitation se présente sous la forme de ce <strong style="color: #A67C52;">QR code personnel et unique</strong>.
        </p>
        <p style="margin-bottom: 18px; font-size: 16px;">
            Le jour J, il vous suffira de le présenter à l'accueil pour qu'il soit scanné.
        </p>
        <p style="margin-bottom: 0; font-size: 16px;">
            Merci de conserver ce QR code confidentiel, car il est <strong style="color: #A67C52;">votre sésame</strong> pour partager notre joie !
        </p>
    </div>


<!-- Début du Formulaire RSVP -->
<div class="container-fluid RSVP-form py-5" id="weddingRsvp">
    <div class="container py-1">
        <div class="mt-1">
        <div class="row g-5 justify-content-center text-center">
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="p-4 border-secondary" style="border-style: double;">
                    <h4>Appelez-nous</h4>
                    <a href="#" class="text-dark">+221 77 432 09 93</a>
                </div>
            </div>
            <div class="col-12 wow fadeIn" data-wow-delay="0.2s">
                <div class="border-secondary" style="border-style: double;">
                    <iframe  class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3859.2111325169794!2d-17.46798892489194!3d14.700648985797626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTTCsDQyJzAyLjMiTiAxN8KwMjcnNTUuNSJX!5e0!3m2!1sfr!2ssn!4v1764716593176!5m2!1sfr!2ssn" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            
        </div>
    </div>
    </div>
</div>
<!-- Fin du Formulaire RSVP -->